goedegep.finan/src/main/resources/goedegep/finan/stocks/ClaimEmissions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Peter Goedegebure (None) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClaimEmissions">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClaimEmission" type="ClaimEmission" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ClaimEmission">
		<xs:sequence>
			<xs:element name="ShareName" type="xs:string"/>
			<xs:element name="ClaimId" type="xs:string"/>
			<xs:element name="FromAmount" type="xs:int"/>
			<xs:element name="ToAmount" type="xs:int"/>
			<xs:element name="PricePerShare" type="xs:string"/>
			<xs:element name="RightRate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
