goedegep.finan/src/main/resources/goedegep/finan/stocks/FundShares.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Peter Goedegebure (None) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FundShares">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FundShareList" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FundShareList">
		<xs:sequence>
			<xs:element name="FundName" type="xs:string"/>
			<xs:element name="Share" type="Share" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Share">
		<xs:sequence>
			<xs:element name="ShareName" type="xs:string"/>
			<xs:element name="RedenominationFrom" type="RedenominationFrom" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RedenominationFrom">
		<xs:sequence>
			<xs:element name="ShareName" type="xs:string"/>
			<xs:element name="FromAmount" type="xs:int"/>
			<xs:element name="ToAmount" type="xs:int"/>
			<xs:element name="Koers" type="xs:string" minOccurs="0"/>
			<xs:element name="TerugBetaling" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
