goedegep.finan/src/main/resources/goedegep/finan/stocks/OptionSeries.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="OptionSerie">
		<xs:sequence>
			<xs:element name="Type" type="xs:string"/>
			<xs:element name="FondsNaam" type="xs:string"/>
			<xs:element name="Maand">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Jaar" type="xs:int"/>
			<xs:element name="UitoefeningsKoers" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OptionSeries">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OptionSerie" type="OptionSerie" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
